doctype html
html
	head
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	body
		a(href='/profile') Go back
		br
		a(href='/post') Post something
		br
		h1 Blog posts
		div
			each post in posts
				h3= post.title
				p= post.body
		h2 Find a post
		form(action='/search' method='post')
				label post
				input#title(name='title' required)
				input(type='submit' value='login' id='submit')
