doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script.
			$(document).ready(function () {
				$('#submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault();
						$('#error-message').html("Your username or password is empty.");
					}
				});
			});
	body
		if user
			a(href='/profile') view profile
			br
			a(href='/posts') look at your posts
			br
			a(href='/all') look at all posts
			br
			a(href='/logout') log out
		else
			a(href='/register') make an account
			br
			h2 Login
			div
				form(action='/login' method='post')
					label email
					input#email(name='email' required)
					label password
					input#password(name='password' required)
					input(type='submit' value='login' id='submit')

		h2#error-message= message
